a:link {text-decoration: none; color: blue;}
a:visited {text-decoration: none; color: red;}
a:active {text-decoration: none}
a:hover {text-decoration: underline; color: blue;}

table{
  border: 1px solid black;
  border-collapse: collapse;
}

td, th {
  padding: 5px;
  margin: 0px;
  border: 1px solid black;
  border-collapse: collapse;
}

h1 {
  background-image: url(vamdc-logo.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding-left: 150px;
  height: 45px;
}

dl.kv dd:before {
  content: ' = ';
}

dl.kv dd {
  white-space: nowrap;
  display: inline;
  margin: 0;
  padding: 0;
}

dl.kv dt {
  display: inline;
  margin: 0;
  padding: 0;
  font-style: italic;
  font-weight: normal;
}

