a:link {text-decoration: none; color: blue;}
a:visited {text-decoration: none; color: red;}
a:active {text-decoration: none}
a:hover {text-decoration: underline; color: blue;}
td {padding: 5px;}
h1 {
  background-image: url(vamdc-logo.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding-left: 150px;
  height: 45px;
}
