<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>xsams-views-webapp</display-name>
    <servlet>
        <servlet-name>LineListServlet</servlet-name>
        <servlet-class>eu.vamdc.xsams.views.TransformingServlet</servlet-class>
        <init-param>
            <param-name>stylesheet</param-name>
            <param-value>line-list.xsl</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>StateListServlet</servlet-name>
        <servlet-class>eu.vamdc.xsams.views.TransformingServlet</servlet-class>
        <init-param>
            <param-name>stylesheet</param-name>
            <param-value>state-list.xsl</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>CollisionListServlet</servlet-name>
        <servlet-class>eu.vamdc.xsams.views.TransformingServlet</servlet-class>
        <init-param>
            <param-name>stylesheet</param-name>
            <param-value>collision-list.xsl</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>SelectedStateServlet</servlet-name>
        <servlet-class>eu.vamdc.xsams.views.TransformingServlet</servlet-class>
        <init-param>
            <param-name>stylesheet</param-name>
            <param-value>selected-state.xsl</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>SelectedCollisionServlet</servlet-name>
        <servlet-class>eu.vamdc.xsams.views.TransformingServlet</servlet-class>
        <init-param>
            <param-name>stylesheet</param-name>
            <param-value>selected-collision.xsl</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>CacheServlet</servlet-name>
        <servlet-class>eu.vamdc.xsams.views.CacheServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CapabilitiesServlet</servlet-name>
        <servlet-class>eu.vamdc.xsams.views.CapabilitiesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvailabilityServlet</servlet-name>
        <servlet-class>eu.vamdc.xsams.views.AvailabilityServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name> BroadeningServlet</servlet-name>
        <servlet-class>eu.vamdc.xsams.views.TransformingServlet</servlet-class>
        <init-param>
            <param-name>stylesheet</param-name>
            <param-value>broadening.xsl</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>CsvServlet</servlet-name>
        <servlet-class>eu.vamdc.xsams.views.CsvServlet</servlet-class>
        <init-param>
            <param-name>stylesheet</param-name>
            <param-value>html-table-to-csv.xsl</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>CacheServlet</servlet-name>
        <url-pattern>/service</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LineListServlet</servlet-name>
        <url-pattern>/line-list/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StateListServlet</servlet-name>
        <url-pattern>/state-list/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CollisionListServlet</servlet-name>
        <url-pattern>/collision-list/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectedStateServlet</servlet-name>
        <url-pattern>/state/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectedCollisionServlet</servlet-name>
        <url-pattern>/collision/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CapabilitiesServlet</servlet-name>
        <url-pattern>/capabilities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvailabilityServlet</servlet-name>
        <url-pattern>/availability</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name> BroadeningServlet</servlet-name>
        <url-pattern>/broadening/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CsvServlet</servlet-name>
        <url-pattern>*.csv</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
